SERVER_PORT=8080
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=smartrecruit
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
KEYCLOAK_URL=http://localhost:8081
KEYCLOAK_SERVER_URL=http://localhost:8081
SPRING_MAIL_HOST=localhost
SPRING_MAIL_PORT=1025
SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5432/smartrecruit
SPRING_DATASOURCE_USERNAME=postgres
SPRING_DATASOURCE_PASSWORD=postgres
CORS_ALLOWED_ORIGINS=http://localhost:4200,http://localhost:8080
