POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=smartrecruit
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=admin
